# ignore folders in root
# this will also work for a symlink
/data
/results

# ignore all instances if a folder
**/archive/*

data_GWAS_non_public/
scripts/__pycache__

# ignore file in all the repo
# if some already tracked: git rm -r --cached <file>
.ipynb_checkpoints
None-requirements.txt
.DS_Store
