# ignore data/results folders in root (so no trailing slash)
/data
/results
data_GWAS_non_public/
scripts/__pycache__
# ignore checkpoints in all the repo
# if some already tracked: git rm -r --cached <file>
.ipynb_checkpoints
